*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.nav-bar{
    border: 1.1px crimson solid;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
    background-color: #709FB0;
    padding-top: 20px;
}
.nav-bar .line{
    height : 10px;
    width : 0% ;
    background-color: darkblue ;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0;
    transition: 1.5s;
}

.nav-bar:hover .line{ 
    width : 100px;
    height : 2px;
    transition: 1.5s;
}
.link-1{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    margin-left: 60px;
    color: black;
}
link{
    color: black;
}
.link-1 .line{
    height : 10px;
    width : 0% ;
    background-color: darkblue;
    margin-left : 50px;
    margin-right : auto;
    margin-top: 0;
    transition: 1.5s;
}
.container-fluid azer{
    padding: 0;
}
.link-1:hover .line{ 
    width : 80px;
    height : 3px;
    transition: 1.5s;
}
.para{
    margin-top: 20px;
}
.img2{
    margin-left: 35px;
    transition: 1.5s;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 50px
}
.img2:hover{
    transform: scale(1.06);
    transition: 1.5s;
    border-radius: 6px;
}
.img2{
    margin-left: 35px;
    transition: 1.5s;
    border-radius: 6px;
    margin-top: 30px;
}
.img2:hover{
    transform: scale(1.06);
    transition: 1.5s;
    border-radius: 6px;
}
.box1{
    /* height: max-content; */
    background-image: url(https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/226669.jpg);
    background-position: center;
    background-size: cover ;
    border: 1.5px #4D4D4D solid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

a{
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
}
.box2{
    /* height: max-content; */
    /* width: 170vh; */
    background-image: url(https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/226696.jpg);
    background-position: center;
    background-size: cover ;
    border: 1.5px #4D4D4D solid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}
.box3{
    /* height: max-content; */
    background-image: url(https://img.buzzfeed.com/thumbnailer-prod-us-east-1/2493053d262844febf4ba930f24509c7/FB_FINAL.jpg?output-quality=100&resize=900:*);
    background-position: center;
    background-size: cover ;
    border: 1.5px #4D4D4D solid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.carousel-img{
    height: 100px;
}
.container-fluid{
    margin-top: 60px;
    margin: 0;
    padding: 0;
}
.btn{  
    position: relative;
    margin-bottom: 25%;
    background-color: turquoise;
    font-family: 'Ubuntu', sans-serif;
    transition: 1.5s;
    font-size: 30px;
}
h2{
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    color: turquoise;
    margin-bottom: 60px;
    margin-top: 20px;
}
h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.nav-link{
    margin-left: 100px;
}
.row{
    margin: 40px 40px;
}
.navbar{
    margin-bottom: 25px;
}
.btn:hover{
    color: black;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 1.5s;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: white;
    border: solid 1px #4D4D4D;
  }
  
#panel {
    padding: 50px;
    display: none;
}
#bttn{
    width: 70px;
    background-color:rgb(236, 231, 231);
    border-radius: 4px;
}
@media only screen and (max-width: 750px) {
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .box1{
        margin: 0;
        font-size: 20px;
    }
    .box2{
        margin: 0;
    }
    .box3{
        margin: 0;
    }
    .box4{
        margin: 0;
        font-size: 20px;
    }
    .box5{
        margin: 0;
    }
    .box6{
        margin: 0;
    }
    .box7{
        margin: 0;
        font-size: 20px;
    }
    .box8{
        margin: 0;
    }
    .box9{
        margin: 0;
    }
}